<div class="card-mb-4 shadow-sm">
  <mat-card class="example-card" fxFlexAlign="auto">
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center img-container">
      <div class="col">
        <img
          mat-card-image
          src="../../../../assets/images/ice.jpg"
          alt="Premium Photos"
        />
      </div>
      <div class="col">
        <img
          mat-card-image
          src="../../../../assets/images/ice.jpg"
          alt="Premium Photos"
        />
      </div>
      <div class="col">
        <img
          mat-card-image
          src="../../../../assets/images/ice.jpg"
          alt="Premium Photos"
        />
      </div>
    </div>
    <mat-card-header>
      <mat-card-subtitle>Size: 1029 x 1822</mat-card-subtitle>
      <mat-card-subtitle>Details: 15 MB</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>
