<div>
  <mat-toolbar>
    <div>
      <h2>Photography /</h2>
      <h2 style="color: lightgrey">Premium Photos</h2>
    </div>
    <span class="spacer"></span>
    <div>
      <span><mat-icon> sort </mat-icon>Sort By</span>
      <mat-form-field appearance="fill">
        <select matNativeControl required>
          <option value="" selected></option>
          <option value="price">Price</option>
          <option value="alphabets">Alphabets</option>
        </select>
      </mat-form-field>
    </div>
    <div><mat-icon> tune </mat-icon></div>
  </mat-toolbar>
</div>
