/* @media (min-width: 768px) {.sidenav-container {
  width: 400px;
  height: 200px;
  margin: 10px;
  border: 1px solid #555;
  z-index: 100;
} */
.example-container {
  height: 100vh;
  margin: 10px;
}
/* .example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
} */

/* .example-sidenav {
  padding: 20px;
} */
